CMakeFiles/
.cproject
.project
.idea/
.vscode
build/
output/
cmake-build-*/
CMakeCache.txt
Makefile
uninstall.cmake
install_manifest.txt
cmake_install.cmake
*/cmake_install.cmake
*.pc
*.so.*
*.so
/cppcheck_report.txt
/cppcheck_log.txt
clion-environment/
workspace/
/.vs
/artifacts/Debug
*.user
/artifacts/Release
*.pyc
*/*Config.cmake
*/*ConfigVersion.cmake
*/generated
