name: Build ThunderInterfaces on Windows

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  definitions: ThunderInterfaces\definitions\definitions.vcxproj
  devEnv: C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\devenv.com
  interfaces: ThunderInterfaces\interfaces\Interfaces.vcxproj
  solution: Thunder.sln

jobs:
  ThunderInterfaces:
    runs-on: windows-latest
    
    strategy:
      matrix:
        type: [Debug, Release]
        version: [64, 86]
    
    name: Build type - ${{matrix.type}}${{matrix.version}}
    steps:
# ----- Checkout -----
    - name: Checkout ThunderOnWindows
      uses: actions/checkout@v4
      with:
        path: ThunderOnWindows
        repository: WebPlatformForEmbedded/ThunderOnWindows

    - name: Checkout Thunder
      uses: actions/checkout@v4
      with:
        path: ThunderOnWindows/Thunder
        repository: ${{github.repository_owner}}/Thunder

    - name: Checkout ThunderTools
      uses: actions/checkout@v4
      with:
        path: ThunderOnWindows/ThunderTools
        repository: ${{github.repository_owner}}/ThunderTools

    - name: Checkout ThunderClientLibraries
      uses: actions/checkout@v4
      with:
        path: ThunderOnWindows/ThunderClientLibraries
        repository: ${{github.repository_owner}}/ThunderClientLibraries

    - name: Checkout ThunderInterfaces
      uses: actions/checkout@v4
      with:
        path: ThunderOnWindows/ThunderInterfaces
        repository: ${{github.repository_owner}}/ThunderInterfaces

    - name: Checkout ThunderNanoServices
      uses: actions/checkout@v4
      with:
        path: ThunderOnWindows/ThunderNanoServices
        repository: ${{github.repository_owner}}/ThunderNanoServices

    - name: Checkout ThunderNanoServicesRDK
      uses: actions/checkout@v4
      with:
        path: ThunderOnWindows/ThunderNanoServicesRDK
        repository: WebPlatformForEmbedded/ThunderNanoServicesRDK

# ----- Building -----
    - name: Install jsonref
      run: pip install jsonref
        
    - name: Build ThunderInterfaces
      shell: cmd
      run: >
        cd ThunderOnWindows
        && "%devEnv%" /Build "${{matrix.type}}|x${{matrix.version}}" /Project "%definitions%"  "%solution%"
        && "%devEnv%" /Build "${{matrix.type}}|x${{matrix.version}}" /Project "%interfaces%"  "%solution%"

# ----- Articats -----
    - name: Tar files
      run: tar -czvf ${{matrix.type}}${{matrix.version}}.tar.gz artifacts
    
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: ThunderInterfaces-${{matrix.type}}${{matrix.version}}-artifact
        path: ${{matrix.type}}${{matrix.version}}.tar.gz
